{% extends 'base.html' %}
{% load static %}

{% block title %}Rutinas - Gym App{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/workouts/routines.css' %}">
{% endblock %}

{% block logo_title%}Rutinas{% endblock %}

{% block content %}
    <section class="routine-container">
        
        <div class="title-header">
            <h1>Mis Rutinas</h1>
        </div>

        

        {% if routines %}
            <ul class="routine-list">
                {% for routine in routines %}
                    <li class="routine-item">
                        <div class="title-header">
                            <h2>{{ routine.name }}</h2>
                        </div>
                        <p>Ejercicios: </p>
                        <ul class="exercise-list">
                            {% for item in routine.items.all %}
                                <li>{{ item.exercise.name }}</li>
                            {% empty %}
                                <li>No hay ejercicios asignados a esta rutina.</li>
                            {% endfor %}
                        </ul>

                        <button class="interactive-button" onclick="openModal('modal-{{ routine.id }}')">
                            Ver Detalles
                        </button>

                        {% include 'workouts/modal_view_routine.html' %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay rutinas creadas aún. ¡Crea la tuya ahora!</p>
        {% endif %}
    </section>

    <section class="create-routine-button-container">
        <button class="success-button" onclick="window.location.href='{% url 'workouts:create_routine' %}'">
            Crear Nueva Rutina
        </button>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/workouts/modal_view_routine.js' %}"></script>
{% endblock %}