{% extends 'base.html' %}
{% load static %}

{% block title %}Rutinas - Gym App{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/workouts/routines.css' %}">
{% endblock %}

{% block logo_title%}Rutinas{% endblock %}

{% block content %}
    <section class="routine-container">
        
        <h1>Rutinas Disponibles</h1>

        {% if routines %}
            <ul class="routine-list">
                {% for routine in routines %}
                    <li class="routine-item">
                        <div class="routine-header">
                            <h2>{{ routine.name }}</h2>
                        </div>
                        <p>Ejercicios: </p>
                        <ul class="exercise-list">
                            {% for item in routine.items.all %}
                                <li>{{ item.exercise.name }}</li>
                            {% empty %}
                                <li>No hay ejercicios asignados a esta rutina.</li>
                            {% endfor %}
                        </ul>

                        <button class="interactive-button" onclick="openModal('modal-{{ routine.id }}')">
                            Ver Detalles
                        </button>

                        <div id="modal-{{ routine.id }}" class="custom-modal">
                            <div class="modal-content">
                                <span class="close-button" onclick="closeModal('modal-{{ routine.id }}')">&times;</span>
                                
                                <div class="routine-header">
                                <h2>Detalle: {{ routine.name }}</h2>
                                </div>
                                
                                <ul class="modal-routine-list">
                                    {% for item in routine.items.all %}
                                        <li class="modal-exercise-item">
                                            <div class="exercise-info">
                                                <strong>• {{ item.exercise.name }}</strong> ({{ item.exercise.category.name }})
                                                <br>&nbsp;&nbsp;&nbsp;Recomendado: {{ item.recommended_sets }} Series x {{ item.recommended_reps }} Reps
                                            </div>
                                            {% if item.exercise.image %}
                                                <img src="{{ item.exercise.image.url }}" alt="{{ item.exercise.name }}" class="exercise-image">
                                            {% else %}
                                                <div class="no-image-placeholder">Sin imagen</div>
                                            {% endif %}
                                        </li>
                                    {% empty %}
                                        <li>No hay ejercicios asignados a esta rutina.</li>
                                    {% endfor %}
                                    <div class="modal-actions">
                                        <button class="success-button">
                                            Editar Rutina
                                        </button>
                                        <button class="warning-button">
                                            Eliminar Rutina
                                        </button>
                                    </div>
                                </ul>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay rutinas creadas aún. ¡Crea la tuya ahora!</p>
        {% endif %}
    </section>

    <section class="create-routine-button-container">
        <button class="success-button" onclick="window.location.href='{% url 'workouts:create_routine' %}'">
            Crear Nueva Rutina
        </button>
    </section>

    <script src="{% static 'js/workouts/modal_view_routine.js' %}"></script>
{% endblock %}