table {
	width: min(110rem, 100%);
	margin: 2rem auto;
	border-collapse: collapse;
	border: 0.2rem solid var(--bg-secondary);
	background-color: #d2efe1;
}

thead tr {
	background-color: var(--bg-secondary);
}

thead th {
	color: var(--text-secondary);
}

th,
td {
	border: 0.1rem solid var(--bg-third);
	padding: 1rem 1.4rem;
	text-align: center;
	vertical-align: middle;
}

tbody tr:nth-child(odd) {
	background-color: #eaf7f1;
}

tbody tr:nth-child(even) {
	background-color: #cfe9dd;
}

.status {
	font-weight: 600;
}

.status-completed {
	background-color: #1f7a56;
	color: #f2fff9;
}

.status-pending {
	background-color: #ad2f2f;
	color: #fff4f4;
}

.btn-create {
    display: block;
    margin: 5rem auto;
}