{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login - Gym App</title>{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section id="login-section">
    <h2>Acceso al Sistema</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
        <button id="login-button" type="submit">Iniciar Sesión</button>
        </div>
    </form>
</section>
{% endblock %}